# Build files/directories
/.stack-work/
/dist/
/dist-newstyle/

# Local GHC and Cabal related files
.ghc.environment*
cabal.project.local

# Temp files created by Vim/Neovim
*.swp
*.swo
*~

# Other
.log
