environment:
  global:
    RESOLVER: "lts-10.0"
    GHC_OPTIONS: "-O0 -Werror"
    PACKCHECK: ./packcheck.sh
    # The commit id of packcheck.sh to use from harendra-kumar/packcheck on github
    PACKCHECK_COMMIT: "c028c2425a372487e74157569d0a6cd4d745575d"

    # ------------------------------------------------------------------------
    # Normally you do not need to customize hereafter
    # ------------------------------------------------------------------------

    STACK_ROOT: "c:\\sr"
    LOCAL_BIN: "%APPDATA%\\local\\bin"
    PATH: "%PATH%;%APPDATA%\\local\\bin"
    CABAL_REINIT_CONFIG: "y"
    TEST_INSTALL: "y"

cache:
  - "%STACK_ROOT%"
  - "%LOCAL_BIN%"
  - "%APPDATA%\\cabal"
  - "%APPDATA%\\ghc"
# - "%LOCALAPPDATA%\\Programs\\stack"

clone_folder: "c:\\pkg"
build: off

before_test:
- if not exist %PACKCHECK% curl -sSkL -o%PACKCHECK% https://raw.githubusercontent.com/harendra-kumar/packcheck/%PACKCHECK_COMMIT%/packcheck.sh
- if not exist %LOCAL_BIN% mkdir %LOCAL_BIN%
- where stack.exe || curl -sSkL -ostack.zip http://www.stackage.org/stack/windows-x86_64 && 7z x stack.zip stack.exe && move stack.exe %LOCAL_BIN%
- stack upgrade
- stack --version

test_script:
- stack setup > nul
- chcp 65001 && stack exec bash -- -c "chmod +x %PACKCHECK%; %PACKCHECK% stack"
